footer .container {
	display: none;
}

footer:after {
	content: "© 2024";
	display: block;
	padding-bottom: 16px;
}

.float-container a {
	display: none;
}

.icons {
	filter: drop-shadow(1px 2px 4px #6e6e6e);
	width: 32px;
	height: 32px;
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.icon-qiita {
	background-image: url("/images/icon/qiita.png");
}

.icon-github {
	background-image: url("/images/icon/github.png");
}

.icon-leetcode {
	background-image: url("/images/icon/leetcode.png");
}

.centered .about ul {
	display: flex;
	justify-content: center;
  gap: 16px;
	margin-top: 0px;
}

.avatar {
	margin-bottom: 30px;
}
